/* utilities */
.background-color {
    background-color: rgba(0, 0, 0, 0.50);
}

/* hide body_title_wrapper on index page only */
#body_title_wrapper {
	display: none;
}

/* banner */
#banner {
    margin: 50px auto;
    background-image: url(https://source.unsplash.com/1140x600/?food);
	background-color: white;
    background-size: cover;
	border-radius: 4px;
    min-height: 600px;
    position: relative;
}
#banner > .background-color {
    min-height: 600px;
	border-radius: 4px;
}
#banner > .background-color > div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 70%;
    margin: -15% 0 0 -35%;
}
#banner > .background-color > div > h1 {
    color: white;
    font-weight: 600;
}
#banner > .background-color > div > #search-panel {
    margin: 50px auto;
}

/* banner-button */
.banner-button {
    padding: 25px;
}
.banner-button > img {
    padding-bottom: 25px;
}

#easyPaginate {
    width: 300px;
}

    #easyPaginate img {
        display: block;
        margin-bottom: 10px;
    }

.easyPaginateNav a {
    padding: 5px;
}

    .easyPaginateNav a.current {
        font-weight: bold;
        text-decoration: underline;
    }