.filter-button {
	padding: 15px;
}
.filter-button > img {
    padding-bottom: 25px;
}

/* slower fade for modal */
.modal.fade:not(.in).right .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.search_results {
	list-style: none;
	padding: 0;
}