/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/*------------------------------------------------------------------------------
    CUSTOM CSS START HERE
------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Fira Sans' !important;
}
html, body {
	font-family: 'Ubuntu' !important;
}

body {
	background-color: #fafafa;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	/*padding: 0;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;*/
	padding: 0 15px 20px 15px;
}
.body-content-mvc {
	margin-top: 102px;
}

#content_header {
	margin-bottom: 25px;
}

/* override bootstrap default navbar links */
.navbar.navbar-default {
	border-top: 5px solid #70C277;
	background-color: #ffffff;
}
.navbar-nav > li > a {
	line-height: 50px;
}
.navbar .lead {
	margin: 0;
}
.navbar-header > button {
	margin: 24px 15px;
}

/* style image */
.navbar-brand > img {
	height: 50px;
}

/* footer links */
.footer-link {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-link > li {
	display: inline-block;
}

.footer-link > li > a {
	display: block;
	padding: 5px;
	text-decoration: none;
}

/* oauth buttons */
.oauth_button {
	background-color: transparent;
	border: none;
}

.oauth_button > img {
	width: 50px;
	height: 50px;
}

.oauth_button_list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

/* search bar */
#search-panel {
	padding: 23px 15px;
}

/* style nutrition label */
.fat {
	border-top: 3px solid black;
}
.fatter {
	border-top: 12px solid black;
}