body {
    background-color: #f0f0f0;
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*------------------------------------------------------------------------------
    CUSTOM CSS START HERE
------------------------------------------------------------------------------*/
/* utility classes */

/* override bootstrap default navbar links */
.navbar-nav > li > a {
    line-height: 50px;
}

/* style image */
.navbar-brand > img {
    height: 50px;
}

/* footer links */
.footer-link {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-link > li {
    display: inline-block;
}
.footer-link > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
}