body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/*------------------------------------------------------------------------------
    CUSTOM CSS START HERE
------------------------------------------------------------------------------*/
/* utility classes */

/* override bootstrap default navbar links */
.navbar-nav > li > a {
    line-height: 50px;
}

/* style image */
.navbar-brand > img {
    height: 50px;
}

/* footer links */
.footer-link {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-link > li {
    display: inline-block;
}
.footer-link > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

/* banner in home.index view */
#banner {
    margin: 50px auto;
    background-image: url(https://source.unsplash.com/1920x600/?food);
    background-size: cover;
    min-height: 600px;
    position: relative;
}
#banner > #background-color {
    background-color: rgba(0, 0, 0, 0.60);
    min-height: 600px;
}
#banner > #background-color > div {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 70%;
    margin: -15% 0 0 -35%;
}
#banner > #background-color > div > h1 {
    color: white;
    font-weight: 300;
}
#banner > #background-color > div > #search-panel {
    margin: 50px auto;
}